<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785747414125-o4q3golm6149nlfv5dbedf6bhkhvhrgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785747414125-o4q3golm6149nlfv5dbedf6bhkhvhrgg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785747414125-btrg65u9j5haf9csf2ka3stt4vnartiv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3CmrtRsXq17B5ry_kkT_UA1bQ6lmjNt0</string>
	<key>GCM_SENDER_ID</key>
	<string>785747414125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hashcode</string>
	<key>PROJECT_ID</key>
	<string>hashcode2024-7b5b5</string>
	<key>STORAGE_BUCKET</key>
	<string>hashcode2024-7b5b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785747414125:ios:79f5708281dd196331c364</string>
</dict>
</plist>